:root {
    --clr-primary-400: hsl(228, 39%, 23%);

    --clr-neutral-900: hsl(232, 12%, 13%);
    --clr-neutral-100: hsl(0, 0%, 100%);

    --ff-primary: sans-serif;

    --ff-body: var(--ff-primary);
    --ff-heading: var(--ff-primary);

    --fs-primary-heading: 3rem;

    --fw-light: 100;
    --fw-regular: 400;
    --fw-semi-bold: 500;
    --fw-bold: 700;
    --fw-heavy: 900;

    --fs-button: 1rem;

    --size-100: .4rem;
    --size-200: .8rem;
    --size-300: 1.2rem;
    --size-400: 1.6rem;
    --size-500: 2rem;
    --size-600: 3.2rem;
    --size-700: 4.8rem;
    --size-800: 6.4rem;
    --size-900: 8rem;

    --real100vh: 100vh;
}


* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Set 1rem equal to 10px */
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

/* Remove default margin, padding, and reset fonts */
* {
    margin: 0;
    padding: 0;
    font: inherit; 
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  overflow-y: scroll;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
 
/*Utility Classes */

.anchor {
    text-decoration: none;
    color: #000;
}

/* End of Utility Classes */

.container {
    margin-inline: auto;
    --max-width: 1110px;
    --padding: 1.6rem;
    background-color: blue;
    width: calc(100% - 160px);
    height: calc(var(--real100vh) - 10vh);
    position: relative;
}

.site-header {
    width: 100%;
    height: 80px;
    position: fixed;
    z-index: 90;
    text-align: center;
    mix-blend-mode: screen;
    display: flex;
    justify-content: center;
    align-items: center;
}

.site-header-text {
    font-size: 4rem;
    background-color: #fff;
    margin: 0;
    padding: 0;
    line-height: 1;
}

.nav-links-left {
    position: fixed;
    left: 0px;
    top: 10rem;
    transform: rotate(90deg);
    font-size: 2.3rem;
    margin: 0;
    padding-top: 4.5rem;
}

.nav-links-right {
    /* background-color: red; */
    width: 8rem;
    height: calc(var(--real100vh) - 9vh);
    position: fixed;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    z-index: 100;
}

.nav-links-right-1 {
    transform: rotate(90deg);
    font-size: 2.3rem;
    margin-bottom: 11rem;
}

.nav-links-right-2 {
    transform: rotate(90deg);
    font-size: 2.3rem;
    text-decoration: none;
    margin-bottom: 2rem;
}

.nav-button {
    position: absolute;
    top: 3rem;
    left: 2.5rem;
}
    
.nav-icon {
    cursor: pointer;
    width: 3rem;
    height: .5rem;
    background-color: #000;
    position: absolute;

}

#background-video {
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    object-fit: cover;
    scroll-snap-align: start;
    position: absolute;

}

.more-work-wrapper {
    /* background-color: purple; */
    width: calc(100% - 170px);
    height: 10vh;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.more-work-text {
    font-size: 1.8rem;
    font-weight: var(--fw-light);
}

.down-chevron-icon {
    font-size: 1.1rem;
    color: #000;
}

/* Nav Menu*/

.nav-menu-wrapper {
    width: 100vw;
    background-color: #fff;
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 1;
    padding: 0 80px;
    padding-top: 50px;
    box-sizing: border-box;
    text-transform: uppercase;
    margin-left: 300rem;
    overflow-y: scroll;
}

.nav-menu-item-wrapper-1 {
    margin-bottom: 2.5rem;
}

.nav-menu-heading {
    font-size: 6.7rem;
    font-weight: var(--fw-heavy);
}

.nav-menu-item-wrapper-2 {
    padding-block: var(--size-500);
    display: flex;
    flex-direction: column;
}

.nav-menu-item-wrapper-2-box-1 {
    margin-bottom: 2.5rem;
    max-width: 90%;
}

.nav-menu-section-title {
    font-size: 1.5rem;
    font-weight: var(--fw-light);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.nav-dropdown-list-items {
    list-style: none;
    font-weight: var(--fw-heavy);
    font-size: 6.7rem;
    line-height: 7.3rem;
    font-family: 'Seymour One', sans-serif;
}


.nav-menu-logo {
    width: 8rem;
    margin: 0 auto;
    margin-top: 7rem;
    margin-right: -5rem;
    padding-bottom: 2rem;
}

/* End of Nav Menu*/

.checkbox:checked ~ .main .container .nav-links-right .nav-button .nav-icon {
    height: 3rem;
    transition: all .2s ease-in-out;
}

.checkbox:checked ~ nav .nav-menu-wrapper { 
    margin-left: 0rem;
    transition: all .4s;
}

.checkbox:checked ~ .main .container .nav-links-right .nav-links-right-1 {
    display: none;
}

.checkbox:checked ~ .main .container .nav-links-right .nav-links-right-2 {
    display: none;
}

.page-2 {
    width: 100vw;
    height: 100vh;
    background-color: green;
}


/* Responsiveness */

@media only screen and (max-width: 1024px) {
    .nav-dropdown-menu-wrapper {
        padding-top: 39px;
    }

    .nav-menu-item-wrapper-1 {
        margin-bottom: 0rem;
    }

    .nav-menu-heading {
        font-size: 3.5rem;
        font-weight: var(--fw-heavy);
    }

    .nav-dropdown-list-items {
        font-size: 2.8rem;
        line-height: 3.9rem;
    }

    .nav-menu-section-title {
        font-size: 1.2rem;
    }

    .nav-menu-logo {
        margin-top: 35rem;

}


@media only screen and (max-width: 750px) {
    .container {
        width: calc(100% - 80px);
    }

    .nav-links-left {
        padding-top: 5.8rem;
        font-size: 1.8rem;
    }

    .nav-links-right {
        width: 4rem;
    }

    .nav-button {
        top: 3rem;
        left: 1rem;
    }

    .nav-icon {
        width: 2rem;
    }

    .checkbox:checked ~ .main .container .nav-links-right .nav-button .nav-icon {
        width: 3rem;
    }

    .checkbox:checked ~ .main .container .nav-links-right .nav-button {
        left: .6rem;
    }

    .nav-links-right-1 {
        font-size: 1.8rem;
    }

    .nav-links-right-2 {
        margin-bottom: 3.7rem;
        font-size: 1.8rem;

    }

    .more-work-wrapper {
        width: calc(100% - 130px);
    }
}

/* End ofResponsiveness */
